[package]
name = "exchange"
version = "0.1.0"
description = "Created with Anchor"
edition = "2018"

[lib]
crate-type = ["cdylib", "lib"]
name = "exchange"

[features]
no-entrypoint = []
no-idl = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
anchor-lang = "0.4.3"
anchor-spl = '0.4.3'
spl-token = { version = "3.0.1", features = ["no-entrypoint"] }
manager = { path = "../manager", features = ["cpi"] }
